In [1]:
# Importing 
from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[1]").appName("Assignment2 Queries").getOrCreate()

22/07/13 20:25:18 WARN Utils: Your hostname, hoggaan-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/07/13 20:25:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/07/13 20:25:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Uploading the dataset
delays_path = "LearningSparkV2/databricks-datasets/learning-spark-v2/flights/departuredelays.csv"

In [3]:
# Create Dataframe
DataFr = spark.read.options(inferSchema = True, header=True).csv(delays_path)

In [4]:
DataFr.show() # Showing the dataset

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011245|    6|     602|   ABE|        ATL|
|1020600|   -8|     369|   ABE|        DTW|
|1021245|   -2|     602|   ABE|        ATL|
|1020605|   -4|     602|   ABE|        ATL|
|1031245|   -4|     602|   ABE|        ATL|
|1030605|    0|     602|   ABE|        ATL|
|1041243|   10|     602|   ABE|        ATL|
|1040605|   28|     602|   ABE|        ATL|
|1051245|   88|     602|   ABE|        ATL|
|1050605|    9|     602|   ABE|        ATL|
|1061215|   -6|     602|   ABE|        ATL|
|1061725|   69|     602|   ABE|        ATL|
|1061230|    0|     369|   ABE|        DTW|
|1060625|   -3|     602|   ABE|        ATL|
|1070600|    0|     369|   ABE|        DTW|
|1071725|    0|     602|   ABE|        ATL|
|1071230|    0|     369|   ABE|        DTW|
|1070625|    0|     602|   ABE|        ATL|
|1071219|    0|     569|   ABE|        ORD|
|1080600|    0|     369|   ABE|        DTW|
+-------+-----+--------+------+-----------+
only showing top 20 rows

In [5]:
DataFr.printSchema() # See the Schema

root
 |-- date: integer (nullable = true)
 |-- delay: integer (nullable = true)
 |-- distance: integer (nullable = true)
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)

In [6]:
# All the flights between Sun Francisco and Chikago
DataFr.filter((DataFr.origin=='SFO') & (DataFr.destination=='ORD') & (DataFr.delay >= 120)).show(truncate=False)

+-------+-----+--------+------+-----------+
|date   |delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011410|124  |1604    |SFO   |ORD        |
|1022330|326  |1604    |SFO   |ORD        |
|1021410|190  |1604    |SFO   |ORD        |
|1101410|184  |1604    |SFO   |ORD        |
|1190925|297  |1604    |SFO   |ORD        |
|1241110|139  |1604    |SFO   |ORD        |
|1301800|167  |1604    |SFO   |ORD        |
|1011237|122  |1604    |SFO   |ORD        |
|1032258|163  |1604    |SFO   |ORD        |
|1031920|193  |1604    |SFO   |ORD        |
|1031755|396  |1604    |SFO   |ORD        |
|1071040|279  |1604    |SFO   |ORD        |
|1161210|225  |1604    |SFO   |ORD        |
|1221040|215  |1604    |SFO   |ORD        |
|1261104|258  |1604    |SFO   |ORD        |
|1020720|145  |1604    |SFO   |ORD        |
|1021205|154  |1604    |SFO   |ORD        |
|1031550|131  |1604    |SFO   |ORD        |
|1041205|126  |1604    |SFO   |ORD        |
|1051205|320  |1604    |SFO   |ORD        |
+-------+-----+--------+------+-----------+
only showing top 20 rows

In [7]:
# Flights with more than 3000 miles
DataFr.filter(DataFr.distance > 3000).show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011050|   -1|    3912|   ATL|        HNL|
|1021050|    7|    3912|   ATL|        HNL|
|1031050|   20|    3912|   ATL|        HNL|
|1041050|    7|    3912|   ATL|        HNL|
|1051050|   15|    3912|   ATL|        HNL|
|1061050|   -1|    3912|   ATL|        HNL|
|1071050|   49|    3912|   ATL|        HNL|
|1081050|   10|    3912|   ATL|        HNL|
|1091050|   -1|    3912|   ATL|        HNL|
|1101050|    0|    3912|   ATL|        HNL|
|1111050|  114|    3912|   ATL|        HNL|
|1121050|   -2|    3912|   ATL|        HNL|
|1131050|   93|    3912|   ATL|        HNL|
|1141050|    0|    3912|   ATL|        HNL|
|1151050|    0|    3912|   ATL|        HNL|
|1161050|   -1|    3912|   ATL|        HNL|
|1171050|   30|    3912|   ATL|        HNL|
|1181050|    5|    3912|   ATL|        HNL|
|1191050|   -5|    3912|   ATL|        HNL|
|1201050|   -3|    3912|   ATL|        HNL|
+-------+-----+--------+------+-----------+
only showing top 20 rows

In [8]:
DataFr.createGlobalTempView('Flight_delay')

In [9]:
# Flights with more than 3000 miles in SQL query
spark.sql("SELECT * FROM global_temp.Flight_delay WHERE distance > 3000").show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011050|   -1|    3912|   ATL|        HNL|
|1021050|    7|    3912|   ATL|        HNL|
|1031050|   20|    3912|   ATL|        HNL|
|1041050|    7|    3912|   ATL|        HNL|
|1051050|   15|    3912|   ATL|        HNL|
|1061050|   -1|    3912|   ATL|        HNL|
|1071050|   49|    3912|   ATL|        HNL|
|1081050|   10|    3912|   ATL|        HNL|
|1091050|   -1|    3912|   ATL|        HNL|
|1101050|    0|    3912|   ATL|        HNL|
|1111050|  114|    3912|   ATL|        HNL|
|1121050|   -2|    3912|   ATL|        HNL|
|1131050|   93|    3912|   ATL|        HNL|
|1141050|    0|    3912|   ATL|        HNL|
|1151050|    0|    3912|   ATL|        HNL|
|1161050|   -1|    3912|   ATL|        HNL|
|1171050|   30|    3912|   ATL|        HNL|
|1181050|    5|    3912|   ATL|        HNL|
|1191050|   -5|    3912|   ATL|        HNL|
|1201050|   -3|    3912|   ATL|        HNL|
+-------+-----+--------+------+-----------+
only showing top 20 rows

In [10]:
# Top 10 long distances with renamed column Name
spark.sql("SELECT distance AS LongDistances FROM global_temp.Flight_delay ORDER BY distance DESC LIMIT 10").show()

+-------------+
|LongDistances|
+-------------+
|         4330|
|         4330|
|         4330|
|         4330|
|         4330|
|         4330|
|         4330|
|         4330|
|         4330|
|         4330|
+-------------+

In [11]:
# Count of the flights with delay between 50 and 60
spark.sql("SELECT count(delay) FROM global_temp.Flight_delay WHERE delay between 50 AND 60").show()

+------------+
|count(delay)|
+------------+
|       24735|
+------------+

In [13]:
# Top 10 destinations.
spark.sql("SELECT destination FROM global_temp.Flight_delay GROUP BY destination ORDER BY count(destination) DESC LIMIT 10").show()

+-----------+
|destination|
+-----------+
|        ATL|
|        DFW|
|        ORD|
|        LAX|
|        DEN|
|        IAH|
|        PHX|
|        SFO|
|        LAS|
|        CLT|
+-----------+

In [14]:
# All the cities where flights have delay info.
spark.sql("SELECT DISTINCT destination from global_temp.Flight_delay WHERE delay IS NOT NULL").show()

+-----------+
|destination|
+-----------+
|        PSE|
|        INL|
|        MSY|
|        PPG|
|        GEG|
|        SNA|
|        BUR|
|        GRB|
|        GTF|
|        IDA|
|        GRR|
|        JLN|
|        EUG|
|        PSG|
|        PVD|
|        GSO|
|        MYR|
|        OAK|
|        MSN|
|        FSM|
+-----------+
only showing top 20 rows

In [15]:
# Create New Data frame with all records having JFK.
nyData = DataFr.filter((DataFr.origin == 'JFK') & (DataFr.distance > 1000) & (DataFr.delay > 120))
nyData.show()

+-------+-----+--------+------+-----------+
|   date|delay|distance|origin|destination|
+-------+-----+--------+------+-----------+
|1011645|  142|    2151|   JFK|        LAX|
|1021700|  195|    1953|   JFK|        LAS|
|1021530|  127|    2247|   JFK|        SFO|
|1022135|  150|    2151|   JFK|        LAX|
|1021715|  125|    1322|   JFK|        AUS|
|1021900|  159|    1388|   JFK|        SJU|
|1031700|  317|    1953|   JFK|        LAS|
|1031715|  156|    1322|   JFK|        AUS|
|1041850|  193|    2104|   JFK|        SEA|
|1050800|  272|    2247|   JFK|        SFO|
|1051745|  243|    2247|   JFK|        SFO|
|1052135|  145|    2151|   JFK|        LAX|
|1050750|  210|    1410|   JFK|        STT|
|1050805|  160|    1388|   JFK|        SJU|
|1051730|  248|    1517|   JFK|        EGE|
|1061030|  172|    2247|   JFK|        SFO|
|1101030|  265|    2247|   JFK|        SFO|
|1111700|  178|    1953|   JFK|        LAS|
|1111705|  141|    2125|   JFK|        SAN|
|1111715|  182|    1322|   JFK|        AUS|
+-------+-----+--------+------+-----------+
only showing top 20 rows